<div class="introduction">
	<h1>Blog</h1>
</div>

<div class="contents">
	<% for blog in @blogs do %>
		<div class="blog-<%= blog.id %>">
			<h2><%= blog.title %></h2>
			<div class="blog-content">
				<%= blog.contents.gsub(/\n/, '<br/>').html_safe %>
			</div>
			<%= link_to "Comments", '#' %>
			<p><%= blog.tags %></p>
		</div>
	<% end %>
	
</div>