<header id="header">
	<div  id="logo">
		<%= link_to "",  root_path %>
	</div>
	<nav id="navagation">
		<%= link_to "Home", root_path %>
		<%= link_to "About", about_path %>
		<%= link_to "Blog", blogs_path %>
		<%= link_to "Contact", contact_path %>
	</nav>
</header>

