<%= content_for :page_id, 'contact' %>
<div id="contact">
	<div class="introduction">
		<h1>Contact Me</h1>
	</div>
	<div id="email">
		<p><%= mail_to 'axelrod.jeremy@gmail.com'%></p>
		<%= form_for @message, url: contact_path do |f| %>
			<!-- TODO error message -->
			<% if @message.errors.any?  %>
				<ul>
				<% @message.errors.full_messages().each do |message| %>
					<li><%= message %></li>
				<% end %>
				</ul>
			<% end %>

			
			<%= f.label :name %>
			<%= f.text_field :name %>
			
			<%= f.label :email %>
			<%= f.text_field :email %>
			
			<%= f.label :subject %>
			<%= f.text_field :subject %>
			
			<%= f.label :body, "Message" %>
			<%= f.text_area :body %>
			
			<%= f.submit "Send Message" %>
			
		<% end %>	
	</div>
</div>