<!DOCTYPE html>
<html>
<head>
  <title>Jeremy Axelrod <%= "|| #{yield(:page_title)}" if yield(:page_title).present? %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container <%= yield(:page_id) %>">
	
		<% if session[:admin_id] %>
			<%= render 'shared/admin_header' %>
		<% end %>

		<%= render 'shared/header' %>
		
		<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, class: name %>
		<% end %>

		<%= yield %>
		
		<%= render 'shared/footer' %>
		<%= render 'shared/analytics' %>
  </div>
</body>
</html>
